@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css)

*
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'

html, body, :global(#root)
    margin: 0
    padding: 0
    height: 100%
    box-sizing: border-box
